<%= form_tag "guess_form_result", method: :post do %>

  <div>
    Write your message: <input type="text" name="form_message">
  </div>
  <div>
    <input type="submit" name="Submit your message">
  </div>
<% end %>