<h1>Your guess is: <%= @guess %></h1>

<% result = 36 %>

<% if @guess > result %>
  puts "guess lower"
<% elsif @guess < result %>
  puts "guess higher"
<% elsif @guess = result %>
  puts "You won"
<% end %>