<h1>Your guess is: <%= @guess2 %></h1>

<% guessed_number = 36 %>

<% if @guess2 > guessed_number %>
  puts "guess lower"
<% elsif @guess2 < guessed_number %>
  puts "guess higher"
<% elsif @guess2 = guessed_number %>
  puts "You won"
<% end %>